<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>Portal</title>

		<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="assets/css/app.css">
	</head>
	<body>
		<div class="container">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi voluptas magnam, libero quo at perferendis quam voluptatibus consequuntur temporibus inventore neque ea, facere ab architecto impedit voluptatem deserunt, reprehenderit sunt!</p>
		</div>

		<script src="assets/js/app.js"></script>
	</body>
</html>