<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<title>Zeinstrich</title>

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="assets/css/app.css">
	</head>
	<body>

		<!-- HEADER -->
        <header class="main-header">

            <div class="main-header__container main-header__nav">
            	<div class="main-header__nav-container">
            		<div class="main-header__nav-content">
            			<div class="main-header__nav-menu">
							<ul>
								<li class="main-header__nav-item"><a title="Home" href="#">Home</a></li>
								<li class="main-header__nav-item"><a title="Sobre" href="#">Sobre</a></li>
								<li class="main-header__nav-item"><a title="Contato" href="#">Contato</a></li>
							</ul>
						</div><!-- /.main-header__nav-menu -->
					</div><!-- /.main-header__nav-content -->
            	</div><!-- /.main-header__nav-container -->
			</div><!-- /.main-header__container -->


            <div class="main-header__container">
            	<div class="main-header__title-container">
            		<div class="main-header__title-content">
            			<div class="main-header__title-wrap">
			            	<div class="main-header__title-logo">
				            	<h1><a title="Zeinstrich" href="#">Zeinstrich</a></h1>
				            	<p>Magazine Template</p>
				            </div>

				            <div class="main-header__title-banner">
				            	<img src="assets/img/publicidade-banner.jpg" alt="" title="">
				            </div>
						</div><!-- /.main-header__title-wrap -->
					</div><!-- /.main-header__title-content -->
            	</div><!-- /.main-header__title-container -->
			</div><!-- /.main-header__container -->


            <!-- Responsive menu -->
            <div class="main-header__category-nav--menu-bar" style="display: none;">
                <div class="main-header__category-nav--menu-button">
                    <span class="main-header__category-nav--icon"></span><p>Categoria</p>
                </div>
            </div>
            <!-- /Responsive menu -->

            <div class="main-header__container main-header__category">
            	<div class="main-header__category-container">
            		<div class="main-header__category-content">
            			<div class="main-header__category-nav">
			            	<ul>
			            		<li class="main-header__category-item">
			            			<a title="Home" href="#"><span class="icon-home"></span></a>
			            		</li>
			                    <li class="main-header__category-item">
			                    	<a title="Categoria | Negócios" href="#">Negócios</a>
			                    </li>
			                    <li class="main-header__category-item">
			                    	<a title="Categoria | Tecnologia" href="#">Tecnologia</a>
			                    </li>
			                    <li class="main-header__category-item">
			                    	<a title="Categoria | Entretenimento" href="#">Entretenimento</a>
			                    </li>
			                    <li class="main-header__category-item">
			                    	<a title="Categoria | Esportes" href="#">Esportes</a>
			                    </li>
			                    <li class="main-header__category-item">
			                    	<a title="Categoria | Saúde" href="#">Saúde</a>
			                    </li>
			                    <li class="main-header__category-item">
			                    	<a title="Categoria | Games" href="#">Games</a>
			                    </li>
			            	</ul>
			            </div><!-- /.main-header__category-nav -->
		            </div><!-- /.main-header__category-content -->
	            </div><!-- /.main-header__category-container -->
            </div><!-- /.main-header__container -->

        </header><!-- /main-header -->
        <!-- /HEADER -->




        <!-- FOOTER -->
        <footer class="main-footer">
			<section>
	        	<h1 class="hidden">Zeinstrich</h1>

	        	<div class="main-footer__container main-footer__info">
		        	<div class="main-footer__info-container">
						<div class="main-footer__info-content">


							<article class="main-footer__about">
                            	<h1 class="main-footer__title">Sobre Zeinstrich</h1>

                            	<p>Aliquam et enim sed eros accumsan accumsan. Etiam a est lacus. Etiam gravida erat id massa dapibus faucibus. Donec id condimentum ipsum. Cras congue urna sed nisi tempus cursus non a ipsum. Etiam nisi tellus, elementum in sapien in, pulvinar pretium dolor. Donec nulla urna, iaculis non orci non, viverra pharetra quam. Maecenas quis iaculis risus. In tincidunt consectetur efficitur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed at blandit est. Sed venenatis sollicitudin lectus, vel faucibus neque mollis vel. Duis eleifend turpis at mollis euismod. Maecenas facilisis ligula a rhoncus ultricies. Praesent at faucibus dolor. </p>
                        	</article>


                        	<nav class="main-footer__category">
	                            <h1 class="main-footer__title">Categorias</h1>

	                            <ul>
				                    <li class="main-footer__category-item">
				                    	<a title="Categoria | Negócios" href="#">Negócios</a>
				                    </li>
				                    <li class="main-footer__category-item">
				                    	<a title="Categoria | Tecnologia" href="#">Tecnologia</a>
				                    </li>
				                    <li class="main-footer__category-item">
				                    	<a title="Categoria | Entretenimento" href="#">Entretenimento</a>
				                    </li>
				                    <li class="main-footer__category-item">
				                    	<a title="Categoria | Esportes" href="#">Esportes</a>
				                    </li>
				                    <li class="main-footer__category-item">
				                    	<a title="Categoria | Saúde" href="#">Saúde</a>
				                    </li>
				                    <li class="main-footer__category-item">
				                    	<a title="Categoria | Games" href="#">Games</a>
				                    </li>
				            	</ul>
                        	</nav>


                        	<article class="main-footer__news">
	                            <h1 class="main-footer__title">Posts Recentes</h1>

	                            <ul>
	                                <li class="main-footer__news-item">
	                                	<a href="#">George Lucas critica clima "retrô" de novo filme  Star Wars</a>
	                                </li>
	                                <li class="main-footer__news-item">
	                                	<a href="#">Aplicativo do Facebook pode ganhar feeds divididos por assuntos</a>
	                                </li>
	                                <li class="main-footer__news-item">
	                                	<a href="#">Barcelona manda cinco bolas na trave, mas goleia Betis no Camp Nou</a>
	                                </li>
	                                <li class="main-footer__news-item">
	                                	<a href="#">Veja sete setores de franquia que vão se destacar em 2016</a>
	                                </li>
	                            </ul>
	                        </article>


						</div><!-- /.main-footer__info-content -->
		        	</div><!-- /.main-footer__info -->
		        </div><!-- /.main-footer__container -->

	        	<div class="main-footer__container main-footer__copy">
	        		<div class="main-footer__copy-container">
						<div class="main-footer__copy-content">
							<div class="main-footer__copy-wrap">
								<p class="main-footer__copy-item">2016 &copy; Todos os direitos reservados</p>
		                    	<p class="main-footer__copy-item main-footer__copy-item--right">Desenvolvido por <a title="Zeindelf Home Page" href="http://zeindelf.com" target="_blank">Zeindelf</a></p>
		                    </div><!-- /.main-footer__copy-wrap -->
						</div><!-- /.main-footer__copy-content -->
	        		</div><!-- /.main-footer__copy -->
		        </div><!-- /.main-footer__container -->

			</section>
        </footer><!-- /.main-footer -->
        <!-- /FOOTER -->


		<script src="assets/js/app.js"></script>
	</body>
</html>