body {
	font-family: $znd_font-family-base;
	font-size: $znd_font-size-base;
	font-weight: $znd_font-weight-light;

	background-color: $znd_body-bg;
	color: $znd_text-color-base;
}

.hidden {
	@include hide-text;
}

.main-header {
	&__category-nav,
	&__nav,
	&__title {
		&--container {
			@include container;
		}
	}
}