body {
	font-family: $znd_font-family-base;
	font-size: $znd_font-size-base;
	font-weight: $znd_font-weight-light;

	background-color: $znd_body-bg;
	color: $znd_text-color-base;

	line-height: 1.2;
}

.hidden {
	@include hide-text;
}

/**
 * Base header
 */
.main-header,
.main-footer {
	&__container {
		@include container-fixed;
	}
}

.main-header {
	&__nav-container,
	&__title-container,
	&__category-container {
		@include container;
	}

	&__nav-content,
	&__title-content,
	&__category-content {
		@include make-row;
	}
}

.main-footer {
	&__info-container,
	&__copy-container {
		@include container;
	}

	&__info-content,
	&__copy-content {
		@include make-row;
	}
}