.main-footer {
	&__copy {
		background: $znd_color-base-darkest;
	}

	&__copy-wrap {
		@include make-lg-column(12);
		display: flex;
		align-items: center;
	}

	&__copy-item {
		font-size: $znd_font-size-medium;
		padding-top: 10px;
		padding-bottom: 10px;

		&--right {
			margin-left: auto;
		}

		a {
			font-weight: $znd_font-weight-bold;

			&:hover {
				color: #fff;
				text-decoration: underline;
			}
		}
	}
}