.main-footer {
	&__info {
		background: darken($znd_color-base-dark, 5%);
		padding-bottom: 1.5em;
	}

	&__about,
	&__category,
	&__news {
		@include make-lg-column(4);
	}

	&__info,
	&__title {
		border-bottom: 3px solid $znd_color-base-dark;
	}

	&__category-item,
	&__news-item {
		margin-top: .7em;
		border-bottom: 1px solid $znd_color-base-dark;

		&:last-child {
			border-bottom: none;
		}

		&:hover a {
			color: #fff;
			text-decoration: underline;
		}
	}

	&__title,
	&__category-item {
		text-transform: uppercase;
	}

	&__title,
	&__category-item,
	&__news-item {
		font-size: $znd_font-size-large;
		font-weight: $znd_font-weight-base;
		font-family: 'Oswald', sans-serif;
	}

	&__title {
		margin-top: 1em;
		margin-bottom: 1em;
		padding-bottom: 1em;
	}
}