/**
 * Button styles
 */
@mixin button-size($znd_padding-vertical, $znd_padding-horizontal, $znd_font-size, $znd_line-height, $znd_border-radius) {
    padding: $znd_padding-vertical $znd_padding-horizontal;
    font-size: $znd_font-size;
    line-height: $znd_line-height;
    border-radius: $znd_border-radius;
}

@mixin button-variant($znd_color, $znd_background, $znd_border) {
    color: $znd_color;
    background-color: $znd_background;
    border: $znd_border;

    &:hover,
    &:focus,
    &:active,
    &:disabled {
        color: $znd_color;
        background-color: darken($znd_background, 10%);
        border: darken($znd_background, 10%);
    }
}