/**
 * Colors
 */
$znd_color-base:				#666 !default;
$znd_color-base-lighter:		lighten($znd_color-base, 53.5%) !default; // #eee
$znd_color-base-light:			lighten($znd_color-base, 20%) !default; // #999
$znd_color-base-dark:			darken($znd_color-base, 13.2%) !default; // #444
$znd_color-base-darkest:		darken($znd_color-base, 26.8%) !default; // #222

$znd_color-theme-red: 			#e83e41 !default;


/**
 * System colors
 */
$znd_brand-default: 			darken(#428bca, 6.5%) !default;
$znd_brand-success: 			darken(#5cb85c, 5%) !default;
$znd_brand-info: 				darken(#5bc0de, 15%) !default;
$znd_brand-warning: 			#f0ad4e !default;
$znd_brand-danger: 				#d9534f !default;

/**
 * Button style
 */
$znd_button-default-color:              #eee !default;
$znd_button-default-bg:                 $znd_brand-default !default;
$znd_button-default-border:             darken($znd_button-default-bg, 5%) !default;

$znd_button-success-color:              #eee !default;
$znd_button-success-bg:                 $znd_brand-success !default;
$znd_button-success-border:             darken($znd_button-success-bg, 5%) !default;

$znd_button-info-color:                 #eee !default;
$znd_button-info-bg:                    $znd_brand-info !default;
$znd_button-info-border:                darken($znd_button-info-bg, 5%) !default;

$znd_button-warning-color:              #eee !default;
$znd_button-warning-bg:                 $znd_brand-warning !default;
$znd_button-warning-border:             darken($znd_button-warning-bg, 5%) !default;

$znd_button-danger-color:               #eee !default;
$znd_button-danger-bg:                  $znd_brand-danger !default;
$znd_button-danger-border:              darken($znd_button-danger-bg, 5%) !default;


/**
 * Typography
 */
$znd_font-family-sans-serif:	'Open Sans', sans-serif !default;
$znd_font-family-serif:			Georgia, "Times New Roman", serif !default;
$znd_font-family-monospace:		Menlo, Monaco, Consolas, "Courier New", monospace !default;
$znd_font-family-base:			$znd_font-family-sans-serif !default;

$znd_font-size-base:			16px !default;
$znd_font-size-small:			0.8em !default;
$znd_font-size-medium:			1.2em !default;
$znd_font-size-large:			1.5em !default;

$znd_font-weight-light:			300 !default;
$znd_font-weight-base:			400 !default;
$znd_font-weight-bold:			700 !default;


/**
 * Settings body
 */
$znd_body-bg:					#fafafa !default;
$znd_text-color-base:			#222 !default;

/**
 * Viewports
 */
$znd_break-phone: 			480px;
$znd_break-tablet: 			768px;
$znd_break-desktop: 		992px;
$znd_break-lg-desktop: 		1200px;


/**
 * Settings alerts
 */
$znd_success-text:				#3c763d !default;
$znd_success-bg:				#dff0d8 !default;
$znd_success-border:			darken($znd_success-bg, 5%) !default;

$znd_info-text:					#31708f !default;
$znd_info-bg:					#d9edf7 !default;
$znd_info-border:				darken($znd_info-bg, 7%) !default;

$znd_warning-text:				#8a6d3b !default;
$znd_warning-bg:				#faf2cc !default;
$znd_warning-border:			darken($znd_warning-bg, 15%) !default;

$znd_danger-text:				#a94442 !default;
$znd_danger-bg:					#f2dede !default;
$znd_danger-border:				darken($znd_danger-bg, 5%) !default;


/**
 * Settings messages
 */
$znd_message-font-family:		$znd_font-family-base;
$znd_message-font-size:			$znd_font-size-base;

$znd_message-padding:			1em 2em 1em 1em ;
$znd_message-margin:			1em auto;

$znd_message-close-padding:		1em;