.main-header {
	&__nav {
		border-bottom: 1px solid lighten($znd_color-base-light, 20%);

		&-menu {
			@include make-lg-column(12);
		}

		&-item {
			display: inline-block;
			margin: 15px 10px;

			&:last-child a {
				border-right: none;
			}

			a {
				color: $znd_color-base-light;
				font-size: $znd_font-size-medium;
				border-right: 1px solid lighten($znd_color-base-light, 20%);
				padding-right: 20px;

				&:hover {
					color: darken($znd_color-base-darkest, 15%);
				}
			}
		}
	}
}