/**
 * Buttons
 */
.button {
	display: inline-block;
	color: $znd_color-base-darkest;
	background-color: $znd_color-base-light;
	font-family: $znd_font-family-base;
	font-weight: $znd_font-weight-base;

	border: 1px solid darken($znd_color-base-light, 10%);
	text-decoration: none;
	cursor: pointer;
	outline: none;

	margin-top: .5em;
	margin-right: 1em;

	transition: all .3s;

	@include button-size(0, 2em, $znd_font-size-medium, 2.4, 3px);

	&:hover,
	&:focus,
	&:disabled {
		background-color: darken($znd_color-base-light, 15%);
		color: $znd_color-base-lighter;
	}

	&:disabled {
		cursor: disabled;
		opacity: .65;
	}

	// Variações
	&-success {
		@include button-variant($znd_button-success-color, $znd_button-success-bg, $znd_button-success-border);
	}

	&-info {
		@include button-variant($znd_button-info-color, $znd_button-info-bg, $znd_button-info-border);
	}

	&-warning {
		@include button-variant($znd_button-warning-color, $znd_button-warning-bg, $znd_button-warning-border);
	}

	&-danger {
		@include button-variant($znd_button-danger-color, $znd_button-danger-bg, $znd_button-danger-border);
	}
}