.alert {
	width: 100%;
	font-family: $znd_message-font-family;
	font-size: $znd_message-font-size;

	padding: $znd_message-padding;
	margin: $znd_message-margin;

	position: relative;

	border-radius: 3px;

	&.alert-success,
	&.alert-success a {
		color: $znd_success-text;
	}

	&.alert-success {
		background-color: $znd_success-bg;
		border-color: $znd_success-border;
	}

	&.alert-info,
	&.alert-info a {
		color: $znd_info-text;
	}

	&.alert-info {
		background-color: $znd_info-bg;
		border-color: $znd_info-border;
	}

	&.alert-warning,
	&.alert-warning a {
		color: $znd_warning-text;
	}


	&.alert-warning {
		background-color: $znd_warning-bg;
		border-color: $znd_warning-border;
	}

	&.alert-danger,
	&.alert-danger a {
		color: $znd_danger-text;
	}

	&.alert-danger {
		background-color: $znd_danger-bg;
		border-color: $znd_danger-border;
	}

	.alert-close:after {
		content: "\2716";
		position: absolute;
		display: block;

		top: $znd_message-close-padding;
		right: $znd_message-close-padding;
		cursor: pointer;
		font-weight: $znd_font-weight-bold;
	}
}

// Mensagens de erro em bloco
.message-errors {
	margin: 1em 0 0 1.5em;
}